DATABASE_URL="postgresql://neondb_owner:npg_Caw34YIQyEuf@ep-cold-wind-b30ntahk-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="edu-ar-secret-2026"
PORT=5000
